# ── Android Studio / IntelliJ ──
*.iml
.gradle
.idea/
local.properties
captures/
.externalNativeBuild
.cxx/
.kotlin/
all_sources.txt
all_sources.bat

# ── Gradle ──
/build
*/build/

# ── OS ──
.DS_Store